.header
{
    width:100%;
    height:50px;
    border:1px solid #3b5998;
    margin-top:-650px;
    margin-left: 300px;
    background-color:#3b5998;
   
}

#dash
{
    width:200px;
    height:30px;
    background-color: #f9860c;
    color:white;
    float: left;
    margin-top:10px;
    margin-left: 10px;
    text-align: center;
    border-radius:5px;
    font-size: 20px;
}
#own
{
    width:200px;
    height:30px;

    float: left;
    margin-left: 650px;
    margin-top:10px;
    text-align: center;
    background-color: #f9860c;
   color:white;
   border-radius:5px;
   font-size: 20px;
 
}
