
#img1
{
  margin-top: 80px;
}
#p2
{
    width:450px;
    height:350px;
 
    margin-left: 500px;
    margin-top: -350px;
}
#BuildingName
{
    width:80%;
    height:25px;
    border:1px slid gray;
    border-radius: 3px;
    margin-left: 50px;
}
#p3
{
    margin-left: 50px;
}
#Floor
{
    width:80%;
    height:25px;
    border:1px slid gray;
    border-radius: 3px;
    margin-left: 50px;
}
#Owner
{
    
    width:80%;
    height:25px;
    border:1px slid gray;
    border-radius: 3px;
    margin-left: 50px;
}
#Location
{
    width:80%;
    height:25px;
    border:1px slid gray;
    border-radius: 3px;
    margin-left: 50px;
}
#b
{
    width:40%;
    height:35px;
    border:1px solid#3b5998;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #3b5998;
    color:white;
}